@model List<Credit_Management_System.ViewModels.Branch.BranchVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-3">
        <i class="fas fa-home"></i> HomePage
    </a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Id
            </th>
            <th>
               Name
            </th>
            <th>
                Address
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
               Email
            </th>
            <th>
               Description
            </th>
            <th>
                MerchantName
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantName)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { area = "Admin", id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { area = "Admin", id = item.Id })
                </td>
        </tr>
}
    </tbody>
</table>
